.dashboard{
    height: 100vh;
    width: 100%;
    /* background: url("/bg_img.png"); */
    background: linear-gradient(-45deg, rgb(246, 187, 246), rgba(74, 74, 249, 0.763));
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow: hidden;
}
.dashboard-info{
    height: 100%;
    width: 100%;
    /* background-color: brown; */
    display: flex;
    justify-content: center;
    align-items: start;
}
.dashboard-details{
    /* background-color: pink; */
    height: 100%;
    width: 70%;
}
.dashboard-transaction{
    /* background-color: blue; */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
}